asgiref==3.2.3
beautifulsoup4==4.8.2
Django==2.2
Pillow==7.0.0
pytz==2019.3
soupsieve==1.9.5
sqlparse==0.3.0
django-heroku 
cloudinary==1.17.0
django-cloudinary-storage==0.2.3
gunicorn==20.0.4
psycopg2==2.7.3.2
whitenoise==3.3.1