<div class='register-control'>
    <div>
        <h4>name</h4>
        <h6>{{ plant.plant_name}}</h6>
    </div>
    <div>
        <h4>class</h4>
        <h6>{{ plant.plant_class }}</h6>
    </div>
    <div>
        <h4>type</h4>
        <h6>{{ plant.plant_type }}</h6>
    </div>
    <div>
        <h4>nutrient on</h4>
        <h6>{{ plant.active_nutrients }} mL</h6>
    </div>
    <div>
        <h4>nutrient off</h4>
        <h6>{{ plant.noactive_nutrients }} mL</h6>
    </div>
    <div>
        <h4>created</h4>
        <h6>{{ plant.created }}</h6>
    </div>
</div>
